body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fdf9f3;
    font-family: monospace;
}

.cabecalho {
    border: rgb(88, 86, 86) solid 2px;
    background-color: #37208a;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    color: #fffb00;
    font-weight: bold;
}

.cabecalho-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


#titulo-principal {
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
}

#procurar {
    background-color: #e8e7e7;
    height: 4vh;
    width: 35%;
    padding: 0 25px;
    margin: 15px;
}

#botao-entrar {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.filtro {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.escala-filtro {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    padding: 8px 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

header a {
    text-decoration: none;
}


main {
    width: 60%;
}

aside {
    width: 20%;
    height: 40vh;
    font-size: 18px;
    display: flex;
    padding: 10px;
}

aside h2 {
    font-size: 18px;
    text-align: center;
    
}

.filtro-categoria {
    border: rgb(88, 86, 86) solid 2px;
    margin-top: 15px;
    background-color: #37208a;
    padding: 20px;
    font-size: 18px;
    
}

.filtro-categoria li {
    margin-top: 17px;
    color: rgb(255, 255, 255);
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container a {
    text-decoration: none;
}

.lista-artigos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -30px;
}

.artigo-unitario {
    border: rgb(161, 145, 145) solid 2px;
    background-color: #e8e7e7;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;

}

.artigo-unitario h3 {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.artigo-unitario p {
    font-size: 18px;
    margin-bottom: 10px;
}

.artigo-unitario a {
    margin-bottom: 10px;
}

.artigo-unitario a img {
    width: 60px;
    border-radius: 100%;
}

footer {
    background-color:#37208a;
    width: 100%;
    height: 20vh;
    border: rgb(88, 86, 86) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e8e7e7;
}