body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fdf9f3;
}

.cabecalho {
    background-color: #fdf9f3;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

.cabecalho-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


#titulo-principal {
    font-size: 28px;
    font-weight: bold;
    margin-left: 50px;
}

#procurar {
    background-color: #e8e7e7;
    height: 4vh;
    width: 35%;
    padding: 0 25px;
    margin: 15px;
}

#botao-entrar {
    font-size: 28px;
    color: black;
    margin-right: 50px;
}

.filtro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.escala-filtro {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    padding: 8px 0;
    font-size: 20px;
    color: black;
}

header a {
    text-decoration: none;
}


main {
    width: 70%;
}

aside {
    width: 22%;
    height: 40vh;
    font-size: 20px;
    display: flex;
    padding: 10px;
}

aside h2 {
    font-size: 23px;
    text-align: center;
}

.filtro-categoria {
    margin-top: 15px;
}

.filtro-categoria li {
    margin-top: 15px;
    color: black;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container a {
    text-decoration: none;
}

.lista-artigos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.artigo-unitario {
    background-color: #e8e7e7;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.artigo-unitario h3 {
    font-size: 20px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.artigo-unitario p {
    font-size: 20px;
    margin-bottom: 10px;
}

.artigo-unitario a {
    margin-bottom: 10px;
}

.artigo-unitario a img {
    width: 60px;
    border-radius: 100%;
}

footer {
    width: 100%;
    height: 30vh;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}