* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #fdf9f3;
    font-family: monospace;;
}

body a {
    text-decoration: none;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: rgb(88, 86, 86) solid 2px;
    background-color: #37208a;
    padding: 15px;
    color: #fffb00;
    font-weight: bold;
}

.cabecalho-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.foto-livros {
    display: flex;
    position: absolute;
    width: 12%;
}


#titulo-principal {
    font-size: 28px;
    font-weight: bold;
}

#procurar {
    background-color: #e8e7e7;
    height: 4vh;
    width: 35%;
    padding: 0 25px;
    margin: 15px;
    margin-left: 7%;
    margin-right: 7%;
}

#botao-entrar {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#botao-entrar:hover {
    text-decoration: underline;
    color: #e8e7e7;
}

.filtro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.escala-filtro {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    padding: 8px 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.escala-filtro:hover {
    text-decoration: underline;
    color: #e8e7e7;
}


.container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}

aside {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 35%;
    font-size: 18px;
    padding: 10px;
    margin: 0 5%;
}

aside h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.filtro-categoria {
    border: rgb(88, 86, 86) solid 2px;
    margin-top: 15px;
    background-color: #37208a;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
}

.filtro-categoria li {
    margin-top: 17px;
    color: rgb(255, 255, 255);
}

.filtro-categoria li:hover {
    font-size: 20px;
}

.lista-artigos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.artigo-unitario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: rgb(161, 145, 145) solid 2px;
    border-radius: 10px;
    background-color: #e8e7e7;
    padding: 10px;
    margin-bottom: 15px;
}

main ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#rodape-artigo {
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

.artigo-unitario h3 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
    color: black;
    margin-bottom: 10px;
}

.artigo-unitario h3:hover {
    font-size: 25px;
    transition: 0.5s;
}

.artigo-unitario p {
    font-size: 18px;
    margin-bottom: 10px;
}

.artigo-unitario a img {
    width: 70px;
    border-radius: 100%;
}

footer {
    margin-top: 25px;
    background-color:#37208a;
    width: 100%;
    height: 20vh;
    border: rgb(88, 86, 86) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e8e7e7;
}
