<%- include('parts/head',{title:'Home'}); %>

<body class="bg-dark text-light"></body>
    <%- include('parts/header'); %>

    <main class="container bg-lightOver1 pt-5 pb-5">


        <div class="d-flex rounded-lg p-3 align-items-center">
            <img src="../imagens/santanderCoders.png" width="200" class="align-top" alt="Santander Coders">
            <p class="ml-5">Somos estudantes do curso de Desenvolvimento Web Fulll Stack da Digital House pelo concurso Santander Coders. Esse é o nosso Projeto Integrador, um database de artigos feito em NodeJs e Express.</p>
        </div>


        <div class="card text-primary bg-transparent mt-3">
            <div class="card-header bg-darkOver2">Davi Arakaki</div>
            <div class="row no-gutters bg-darkOver1">
              <div class="col-md-4">
                <img src="../imagens/DaviRed.jpg" class="card-img" width="100" alt="Davi">
              </div>
              <div class="col-md-8">                
                <div class="card-body">
                  <h5 class="card-title">Programador Full StackOverflow</h5>
                  <p class="card-text">Formado em Redes de computadores. Programador javascript, node, html, bootstrap, c++, opengl.</p>
                  <p class="card-text"><small class="text-muted">portfolio</small></p>
                </div>
              </div>
            </div>
          </div>


          <div class="card text-success bg-transparent mt-3">
            <div class="card-header bg-darkOver2">Davi Arakaki</div>
            <div class="row no-gutters bg-darkOver1">
              <div class="col-md-4">
                <img src="..." class="card-img" alt="Davi">
              </div>
              <div class="col-md-8">                
                <div class="card-body">
                  <h5 class="card-title">Programador Full StackOverflow</h5>
                  <p class="card-text">Formado em Redes de computadores. Programador javascript, node, html, bootstrap, c++, opengl.</p>
                  <p class="card-text"><small class="text-muted">portfolio</small></p>
                </div>
              </div>
            </div>
          </div>


          <div class="card text-warning bg-transparent mt-3">
            <div class="card-header bg-darkOver2">Davi Arakaki</div>
            <div class="row no-gutters bg-darkOver1">
              <div class="col-md-4">
                <img src="..." class="card-img" alt="Davi">
              </div>
              <div class="col-md-8">                
                <div class="card-body">
                  <h5 class="card-title">Programador Full StackOverflow</h5>
                  <p class="card-text">Formado em Redes de computadores. Programador javascript, node, html, bootstrap, c++, opengl.</p>
                  <p class="card-text"><small class="text-muted">portfolio</small></p>
                </div>
              </div>
            </div>
          </div>

    </main>

    <%- include('parts/footer'); %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- include('parts/foot'); %>