<%- include('parts/head',{title:'Cadastrar'}); %>


<body class="container min-vh-100 d-flex flex-column justify-content-center align-items-center bg-dark text-light">
    <div class="d-flex justify-content-center h1 mb-3">
        Cadastrar-se no RVW Article
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div>
            <img src="/images/cadastrar.svg" alt="foto-de-login" class="foto-cadastrar">
        </div>

        <div class="bg-darkOver1  vh-75 vw-75 p-5 shadow-lg">

            <div class="bg-darkOver1 vh-75 vw-75 p-5 shadow">
                <div class="d-flex justify-content-center form_container mt-3 bg-lightOver1  shadow vh-75 vw-75 p-5">
                    <form method="POST" action="/usuario/cadastrar" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="nome" class="form-control input_user" value=""
                                placeholder="Digite seu nome">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" name="email" class="form-control input_pass" value=""
                                placeholder="email@dominio.com">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="senha" class="form-control input_pass" value=""
                                placeholder="Digite sua senha">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                            </div>
                            <input type="text" name="areaAtuacao" class="form-control input_user" value=""
                                placeholder="Digite sua área de atuação">
                        </div>
                        <div class="mb-3 mt-3">
                            <input type="file" name="foto_perfil" class="input_user">
                        </div>

                        <% if(typeof(errors) != "undefined") { %>
                        <ul>

                            <% for(let i = 0; i < errors.length; i++) { %>

                            <div class="alert alert-danger mb-3" role="alert"><%= errors[i].msg %></div>

                            <% } %>

                        </ul>

                        <% } %>

                        <% if(typeof(error) != "undefined") { %>
                            <ul>
    
                                <% for(let i = 0; i < error.length; i++) { %>
    
                                <div class="alert alert-danger mb-3" role="alert"><%= error[i].message %></div>
    
                                <% } %>                                 
    
                            </ul>
    
                            <% } %>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit"
                                class="btn btn-primary form-control mt-3 entrar-login">Cadastrar</button>
                        </div>
                        <div class="mt-5">
                            <div class="d-flex justify-content-center links">
                                <p>Já possui uma conta?</p>
                                <a href="/usuario/login" class="ml-2">Entrar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('parts/foot'); %>