<%- include('parts/head',{title:'Cadastrar'}); %>


<body class="container min-vh-100 d-flex flex-column justify-content-center align-items-center bg-dark text-light">
    <div class="d-flex justify-content-center h1 mb-3">
        Cadastrar-se no RVW Article
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div>
            <img src="/images/cadastrar.svg" alt="foto-de-login" class="foto-cadastrar">
        </div>
    
        <div class="bg-darkOver1  vh-75 vw-75 p-5 shadow-lg">

            <div class="bg-darkOver1 vh-75 vw-75 p-5 shadow">
                <div class="d-flex justify-content-center form_container mt-3 bg-lightOver1  shadow vh-75 vw-75 p-5">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="" class="form-control input_user" value="" placeholder="Full Name">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append mt-3">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" name="" class="form-control input_pass mt-3" value="" placeholder="Email">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append mt-3">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="" class="form-control input_pass mt-3" value="" placeholder="Password">
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="button" name="button" class="btn btn-primary form-control mt-3 entrar-login">Cadastrar</button>
                        </div>
                        <div class="mt-5">
                            <div class="d-flex justify-content-center links">
                                <p>Já possui uma conta?</p> 
                                <a href="login" class="ml-2">Entrar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<%- include('parts/foot'); %>