<%- include('parts/head',{title:'Home'}); %>

<body class="bg-dark text-light">
    <%- include('parts/header'); %>

    <main class="bg-darkOver1 d-flex">

    <aside class="sidebar w-10 border-right border-secondary categorias">
        <div class="h5 d-flex justify-content-center">Categorias</div>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#matemática</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#português</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#história</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#filosofia</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#biologia</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#física</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#química</a>
        </div>
    </aside>


    <div class="conteudo pb-3 pl-3 pr-3 bg-lightOver1">
        <ul class="nav justify-content-center mt-2 mb-2">
            <li class="nav-item">
                <a class="nav-link filtro" href="#">RECENTE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link filtro" href="#">DIÁRIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link filtro" href="#">SEMANAL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link filtro" href="#">MENSAL</a>
            </li>
        </ul>

        <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
            <div class="d-flex align-items-center mb-4">
                <a href="/perfil" ><img src="/images/foto-perfil.png" width="70" class="rounded-circle"></a>
                <a href="/artigo" class="titulo-artigo">
                    <h3 class="ml-3">Segunda guerra mundial 1939 - 1945</h3>
                </a>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur nihil itaque est?
                Voluptas expedita, possimus doloremque sequi consequuntur ducimus officiis [...]</p>
            <div class="d-flex rodape-artigo">
                <a href="/perfil">
                    <p>@usuario</p>
                </a>
                <a href="#">
                    <p class="ml-3">#categoria</p>
                </a>
                <a href="#">
                    <p class="ml-3">#comentário</p>
                </a>
            </div>
        </article>

        <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
            <div class="d-flex align-items-center mb-4">
                <a href="/perfil" ><img src="/images/foto-perfil.png" width="70" class="rounded-circle"></a>
                <a href="/artigo" class="titulo-artigo">
                    <h3 class="ml-3">Segunda guerra mundial 1939 - 1945</h3>
                </a>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur nihil itaque est?
                Voluptas expedita, possimus doloremque sequi consequuntur ducimus officiis [...]</p>
            <div class="d-flex rodape-artigo">
                <a href="/perfil">
                    <p>@usuario</p>
                </a>
                <a href="#">
                    <p class="ml-3">#categoria</p>
                </a>
                <a href="#">
                    <p class="ml-3">#comentário</p>
                </a>
            </div>
        </article>

        <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
            <div class="d-flex align-items-center mb-4">
                <a href="/perfil" ><img src="/images/foto-perfil.png" width="70" class="rounded-circle"></a>
                <a href="/artigo" class="titulo-artigo">
                    <h3 class="ml-3">Segunda guerra mundial 1939 - 1945</h3>
                </a>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur nihil itaque est?
                Voluptas expedita, possimus doloremque sequi consequuntur ducimus officiis [...]</p>
            <div class="d-flex rodape-artigo">
                <a href="/perfil">
                    <p>@usuario</p>
                </a>
                <a href="#">
                    <p class="ml-3">#categoria</p>
                </a>
                <a href="#">
                    <p class="ml-3">#comentário</p>
                </a>
            </div>
        </article>

        <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
            <div class="d-flex align-items-center mb-4">
                <a href="/perfil" ><img src="/images/foto-perfil.png" width="70" class="rounded-circle"></a>
                <a href="/artigo" class="titulo-artigo">
                    <h3 class="ml-3">Segunda guerra mundial 1939 - 1945</h3>
                </a>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur nihil itaque est?
                Voluptas expedita, possimus doloremque sequi consequuntur ducimus officiis [...]</p>
            <div class="d-flex rodape-artigo">
                <a href="/perfil">
                    <p>@usuario</p>
                </a>
                <a href="#">
                    <p class="ml-3">#categoria</p>
                </a>
                <a href="#">
                    <p class="ml-3">#comentário</p>
                </a>
            </div>
        </article>

    </div>

    </main>

    <%- include('parts/footer'); %>

<%- include('parts/foot'); %>