<%- include('parts/head',{title:'Perfil do Usuário'}); %>

<body class="bg-dark text-light">
    <%- include('parts/header'); %>

    <main class="bg-darkOver1 d-flex">

        <div class="d-flex flex-column w-25 border-right border-secondary">
            <div class="d-flex justify-content-center mt-5">
                <img src="../imagens/foto-perfil.png" class="border rounded-circle d-block row" width="100"></img>
            </div>

            <div class="d-flex justify-content-center mt-2">
                Olá Dev
            </div>
            <div class="d-flex justify-content-center mt-2">
                Developer
            </div>

            <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary mr-2" type="submit">Button</button>
            <button class="btn btn-primary" type="submit">Button</button>
        </div>

        </div>



        <div class="conteudo pb-3 pl-3 pr-3 bg-lightOver1">


            <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
                <div class="d-flex align-items-center mb-4">
                    <img src="../imagens/foto-perfil.png" width="70" class="rounded-circle">
                    <a href="artigo.html" class="titulo-artigo">
                        <h3 class="ml-3">Segunda guerra mundial 1939 - 1945</h3>
                    </a>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur nihil itaque est?
                    Voluptas expedita, possimus doloremque sequi consequuntur ducimus officiis [...]</p>
                <div class="d-flex rodape-artigo">
                    <a href="#">
                        <p>@usuario</p>
                    </a>
                    <a href="#">
                        <p class="ml-3">#categoria</p>
                    </a>
                    <a href="#">
                        <p class="ml-3">#comentário</p>
                    </a>
                </div>
            </article>

            <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
                <div class="d-flex align-items-center mb-4">
                    <img src="../imagens/foto-perfil.png" width="70" class="rounded-circle">
                    <a href="artigo.html" class="titulo-artigo">
                        <h3 class="ml-3">Segunda guerra mundial 1939 - 1945</h3>
                    </a>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur nihil itaque est?
                    Voluptas expedita, possimus doloremque sequi consequuntur ducimus officiis [...]</p>
                <div class="d-flex rodape-artigo">
                    <a href="#">
                        <p>@usuario</p>
                    </a>
                    <a href="#">
                        <p class="ml-3">#categoria</p>
                    </a>
                    <a href="#">
                        <p class="ml-3">#comentário</p>
                    </a>
                </div>
            </article>

            <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
                <div class="d-flex align-items-center mb-4">
                    <img src="../imagens/foto-perfil.png" width="70" class="rounded-circle">
                    <a href="artigo.html" class="titulo-artigo">
                        <h3 class="ml-3">Segunda guerra mundial 1939 - 1945</h3>
                    </a>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur nihil itaque est?
                    Voluptas expedita, possimus doloremque sequi consequuntur ducimus officiis [...]</p>
                <div class="d-flex rodape-artigo">
                    <a href="#">
                        <p>@usuario</p>
                    </a>
                    <a href="#">
                        <p class="ml-3">#categoria</p>
                    </a>
                    <a href="#">
                        <p class="ml-3">#comentário</p>
                    </a>
                </div>
            </article>

            <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
                <div class="d-flex align-items-center mb-4">
                    <img src="../imagens/foto-perfil.png" width="70" class="rounded-circle">
                    <a href="artigo.html" class="titulo-artigo">
                        <h3 class="ml-3">Segunda guerra mundial 1939 - 1945</h3>
                    </a>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur nihil itaque est?
                    Voluptas expedita, possimus doloremque sequi consequuntur ducimus officiis [...]</p>
                <div class="d-flex rodape-artigo">
                    <a href="#">
                        <p>@usuario</p>
                    </a>
                    <a href="#">
                        <p class="ml-3">#categoria</p>
                    </a>
                    <a href="#">
                        <p class="ml-3">#comentário</p>
                    </a>
                </div>
            </article>

        </div>

    </main>

    <%- include('parts/footer'); %>
    
<%- include('parts/foot'); %>
