<footer class=" bg-darkOver3 border-top border-secondary d-flex justify-content-center" style="height: 200px;">
    <div class="d-flex flex-column justify-content-center">
        <p class="h3 text-light p-2 text-center">Informações</p>

        <a class="p-2 text-center" href="about">Quem somos</a>

        <p class="p-2 mt-3 text-center">Copytight 2020 - Articles Digital House</p>
    </div>
</footer>

<!-- class="w-100 d-flex justify-content-center" -->