<footer class="container-fluid bg-darkOver3 border-top border-secondary" style="height: 200px;">

    <div class="row">

        <div class="col-4">

        </div>

        <div class="col-4 p-5">
            <p class="h3 text-light mb-4">Informações</p>
            <div class="pl-4">
                <a href="about">Quem somos</a>
            </div>
        </div>

        <div class="col-4 d-flex justify-content-center align-items-end">
            <div class="w-100 d-flex justify-content-center">
                <p>Copytight 2020 - Articles Digital House</p>
            </div>
        </div>

    </div>

</footer>