<header>
    <nav class="d-flex navbar-dark bg-darkOver2 border-bottom border-secondary align-items-center">

        <a class="navbar-brand align-items-center ml-2" href="/">
            <!-- <span class="align-text-middle">REVIEW ARTICLE</span> -->
            <h1 class="align-text-middle h1-login">REVIEW ARTICLE</h1>
        </a>

        <form class="d-flex w-50 ml-1">
            <input class="form-control text-light w-75" type="search" placeholder="Procurar" aria-label="Search">
            <button class="btn btn-outline-info ml-2 botao-procurar" type="submit">Procurar</button>
        </form>

        <div class="nav-item d-flex align-items-center ml-auto">
            <a href="/criarartigo" type="button" class="btn btn-primary escreva-artigo">
                <span class="h5">Escreva um Artigo</span>
            </a>
            <a class="nav-link my-2 about-login" href="#">About</a>
            <a class="nav-link my-2 about-login" href="/login">Login</a>
        </div>

    </nav>
</header>