<%= listaArtigos %>

<div>
    
    <% for(let i = 0; i < listaArtigos.length; i++) { %>
        <%= JSON.stringify(listaArtigos[i]) %>
        <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
            <div class="d-flex align-items-center mb-4">
                <a href="/perfil" ><img src="/images/foto-perfil.png" width="70" class="rounded-circle"></a>
                <a href="/artigo" class="titulo-artigo">
                    <h3 class="ml-3"><%= listaArtigos[i].titulo %></h3>
                </a>
            </div>
            <p><%= listaArtigos[i].resumo %></p>
            <div class="d-flex rodape-artigo">
                <a href="/perfil">
                    <p>@usuario</p>
                </a>
                <a href="#">
                    <p class="ml-3">#categoria</p>
                </a>
                <a href="#">
                    <p class="ml-3">#comentário</p>
                </a>
            </div>
        </article>


    <% } %>    

</div>

<article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
    <div class="d-flex align-items-center mb-4">
        <a href="/perfil" ><img src="/images/foto-perfil.png" width="70" class="rounded-circle"></a>
        <a href="/artigo" class="titulo-artigo">
            <h3 class="ml-3">Segunda guerra mundial 1939 - 1945</h3>
        </a>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur nihil itaque est?
        Voluptas expedita, possimus doloremque sequi consequuntur ducimus officiis [...]</p>
    <div class="d-flex rodape-artigo">
        <a href="/perfil">
            <p>@usuario</p>
        </a>
        <a href="#">
            <p class="ml-3">#categoria</p>
        </a>
        <a href="#">
            <p class="ml-3">#comentário</p>
        </a>
    </div>
</article>